@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-weight: 900;
    src: url("./fonts/Inter-Black.ttf") format("truetype");
}

h1, h2, h3, h4,
h5, h6, p, div {
    margin: 0;
    padding: 0;
}

.page {
    margin: 0 auto;
    padding: 28px 48px 0;
    background-color: #2A2C2F;
    font-family: Inter;
    color: white;
}

.container {
    max-width: 1184px;
    margin: 0 auto;
}

.header {
    max-width: 1280px;
    margin: 0 auto 90px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 56px;
}

.header__logo{
    width: 176px;
    height: 52px;
}

.header__lang {
    display: flex;
    justify-content: space-between;
    width: 77px;
}

.header__lang-link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    text-align: right;
}

.header__lang-link_active {
    text-decoration: underline;
}

.header__lead {
    max-width: 984px;
    margin: auto;
}

.header__lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    width: 720px;
    margin: 0 auto 32px;

}

.header__lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: 640px;
    margin: 0 auto 64px;
}

.header__lead-container {
    margin: auto;
}

.header__lead__image {
    width: 984px;
    margin-bottom: 8px;
}

.header__lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
}

.intro {
    width: 690px;
    max-width: 1280px;
    padding: 0 100px 0;
    margin-bottom: 90px;
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
}

.intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
}

.intro__list{
    list-style: none;
    padding: 0;
}

.intro__list-item {
    font-size: 12px;
    line-height: 18px;
}

.gallery {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin: 0 auto 90px;
    max-width: 1184px;
}

.gallery__item {
    width: 100%;
}

.cards {
    padding: 0 100px 0;
    max-width: 984px;
}

.card {
    margin-bottom: 80px;
}

.card__top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 48px;
}

.card__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    width: 460px;
    margin-right: 40px;
}

.card__website {

}

.card__website__url-heading {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
}

.card__website__link {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: white;
}

.card__bottom {
    display: flex;
    justify-content: space-between;
}

.card__image {
    max-width: 460px;
    max-height: 460px;
    margin-right: 40px;
}

.card__paragraphs {

}

.card__paragraph {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 26px;
}

.overlay {
    position: relative;
    width: 1184px;
    min-height: 740px;
    background-image: url("./images/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.overlay__link {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
}
.overlay__cover:hover {
    opacity: 0.8;
    transition: all 0.5s linear;
}

.overlay__title {
    position: relative;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    z-index: 2;

}

.overlay__subtitle {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
    margin: 32px auto 0;
    z-index: 2;
}
.footer {

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

.footer__menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.footer__menu-item {
    margin-right: 18px;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: white;
}

.footer__copyright {

}

/*/////////////////////////////////////////////////////////////////////////
                              ADAPTIVE CSS
                                 1024px
///////////////////////////////////////////////////////////////////////////
 */
@media screen and (max-width: 1279px) {
    .page {

        padding: 28px 0 0;
    }

    .container {
        max-width: 929px;

    }

    .header {
        max-width: 928px;
        margin: 0 0 90px;
    }

    .header__top {
        margin: 0 auto 48px;
    }

    .header__lead {
        width: 100%;
        margin: 0;
    }

    .header__lead__image {
        width: 100%;
    }

    .intro {
        padding: 0;
        margin-bottom: 90px;
    }

    .gallery {
         grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
         gap: 14px;
         max-width: 928px;
         margin: 0 0 90px;
     }

    .cards {
        padding: 0;
        max-width: 928px;
        margin: 0 auto;
    }

    .card__title {
        width: 440px;
        margin-right: 32px;
    }

    .card__image {
        max-width: 440px;
        max-height: 440px;
        margin-right: 32px;
    }

    .overlay {
        top: 0;
        left: -48px;
        min-height: 640px;
        max-width: 1024px;
    }
    .footer-container {
        max-width: 928px;
    }
}
/*/////////////////////////////////////////////////////////////////////////
                              768px
///////////////////////////////////////////////////////////////////////////
 */

@media screen and (max-width: 1023px) {
    .page {

    }
    .container {
        width: 768px;
        min-width: 768px;

    }

    .header {
        max-width: 768px;
        margin: 0 0 90px;
    }

    .header__top {
        width: 720px;
    }

    .header__lead {
        max-width:768px;
        margin: auto;
    }

    .header__lead__title {
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        text-align: center;
        width: 720px;
        margin: 0 auto 32px;

    }

    .header__lead__subtitle {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        width: 640px;
        margin: 0 auto 64px;
    }

    .header__lead-container {
        margin: auto;
    }

    .header__lead__caption {
        margin-left: 24px;
    }

    .intro {
        width: 720px;
        max-width: 720px;
        padding: 0;
        margin: 0 auto 88px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        gap: 16px;
        max-width: 720px;
        margin: 0 auto 88px;
    }

    .cards {
        padding: 0;
        max-width: 720px;
    }

    .card {
        margin-bottom: 73px;
    }

    .card__title {
        font-size: 42px;
        line-height: 46px;
        width: 340px;
        margin-right: 28px;
    }

    .card__image {
        max-width: 340px;
        max-height: 340px;
        margin-right: 28px;
    }

    .card__paragraph {
        font-size: 16px;
        line-height: 26px;
    }

    .overlay {
        top: 0;
        left: 0;
        min-height: 480px;
        max-width: 768px;
    }

    .footer {

    }

    .footer-container {
        width: 720px
    }

    .footer__menu-item {
        margin-right: 18px;
        font-size: 16px;
        line-height: 18px;
        text-decoration: none;
        color: white;
    }

}

/*/////////////////////////////////////////////////////////////////////////
                              320px
///////////////////////////////////////////////////////////////////////////
 */
@media screen and (max-width: 767px) {
    .page {
        padding-top: 16px;
    }
    .container {
        width: 320px;
        min-width: 320px;
    }

    .header {
        max-width: 320px;
        margin: 0 0 64px;
    }

    .header__top {
        width: 320px;
    }

    .header__logo{
        width: 142px;
        height: 42px;
    }

    .header__lang {
        display: flex;
        justify-content: space-between;
        width: 77px;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }

    .header__lead {
        max-width:320px;
    }

    .header__lead__title {
        font-size: 40px;
        line-height: 44px;
        width: 288px;
        margin: 0 auto 16px;

    }

    .header__lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 288px;
        margin: 0 auto 40px;
    }

    .header__lead__caption {
        margin-left: 16px;
    }

    .intro {
        width: 288px;
        max-width: 320px;
        margin: 0 auto 64px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 12px;
        max-width: 320px;
        margin: 0 auto 64px;
        justify-content: center;
    }


    .cards {
        max-width: 320px;
    }

    .card {
        margin-bottom: 50px;
    }

    .card__top {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 48px;
    }

    .card__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        margin: 0 auto;
    }

    .card__website {
        width: 288px;
        margin: 32px auto 0;
    }

    .card__bottom {
        flex-direction: column;
        justify-content: space-between;
    }

    .card__image {
        max-width: 320px;
        max-height: 320px;
        margin-right: 0;
        margin-bottom: 32px;
    }

    .card__paragraph {
        width: 288px;
        margin: 0 auto 25px;
    }

    .overlay {
        top: 0;
        left: 0;
        min-height: 200px;
        max-width: 320px;
    }

    .overlay__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 250px;
        z-index: 2;
    }

    .overlay__subtitle {
        font-size: 14px;
        line-height:16px;
        max-width: 265px;
        margin: 16px auto 0;
        z-index: 2;
    }

    .footer {
    }

    .footer-container {
        height: 310px;
        margin: 64px auto 16px;
        width: 288px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__menu {
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
    }

    .footer__menu-item {
        margin-right: 0;
        margin-top: 60px;
        font-size: 24px;
        line-height: 24px;
        text-decoration: none;
        color: white;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
        color: white;
    }
}

